Package: com.satthu.fakelag
Name: FakeLag Antiban
Depends: mobilesubstrate
Version: 1.0.0
Architecture: iphoneos-arm
Description: Mod Antiban Free Fire 2026 by SatThu
Maintainer: SatThu
Author: SatThu
Section: Tweaks
